@model SummerCampViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Input Scout Info</h2>
            <hr />
        </div>
    </div>
</form>