@model SummerCampViewModel

<form method="post" asp-action="DeletePOST">
    <input type="hidden" asp-for="Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Scout Info</h2>
            <hr />
        </div>
         <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
         <a asp-controller="SummerCamp" asp-action="Index" class="btn btn-secondary" style="width:150px">
             Back to list
         </a>
    </div>
</form>