@model SummerCampViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Scout Info</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ScoutName" class="form-label">Scout Name</label>
            <input asp-for="ScoutName" type="text" class="form-control"/>
            <span asp-validation-for="ScoutName" class="text-danger"></span>
         </div>
        <div class="mb-3">
            <label asp-for="Age" class="form-label">Age</label>
            <input asp-for="Age" type="text" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Rank" class="form-label">Rank</label>
            <input asp-for="Rank" type="text" class="form-control" />
            <span asp-validation-for="Rank" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority1" class="form-label">Priority 1 Merit Badge</label>
            <input asp-for="Priority1" type="text" class="form-control" />
            <span asp-validation-for="Priority1" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority2" class="form-label">Priority 2 Merit Badge</label>
            <input asp-for="Priority2" type="text" class="form-control" />
            <span asp-validation-for="Priority2" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority3" class="form-label">Priority 3 Merit Badge</label>
            <input asp-for="Priority3" type="text" class="form-control" />
            <span asp-validation-for="Priority3" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority4" class="form-label">Priority 4 Merit Badge</label>
            <input asp-for="Priority4" type="text" class="form-control" />
            <span asp-validation-for="Priority4" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority5" class="form-label">Priority 5 Merit Badge</label>
            <input asp-for="Priority5" type="text" class="form-control" />
            <span asp-validation-for="Priority5" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority6" class="form-label">Priority 6 Merit Badge</label>
            <input asp-for="Priority6" type="text" class="form-control" />
            <span asp-validation-for="Priority6" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority7" class="form-label">Priority 7 Merit Badge</label>
            <input asp-for="Priority7" type="text" class="form-control" />
            <span asp-validation-for="Priority7" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority8" class="form-label">Priority 8 Merit Badge</label>
            <input asp-for="Priority8" type="text" class="form-control" />
            <span asp-validation-for="Priority8" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority9" class="form-label">Priority 9 Merit Badge</label>
            <input asp-for="Priority9" type="text" class="form-control" />
            <span asp-validation-for="Priority9" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority10" class="form-label">Priority 10 Merit Badge</label>
            <input asp-for="Priority10" type="text" class="form-control" />
            <span asp-validation-for="Priority10" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority11" class="form-label">Priority 11 Merit Badge</label>
            <input asp-for="Priority11" type="text" class="form-control" />
            <span asp-validation-for="Priority11" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority12" class="form-label">Priority 12 Merit Badge</label>
            <input asp-for="Priority12" type="text" class="form-control" />
            <span asp-validation-for="Priority12" class="text-danger"></span>
        </div>
        
         <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
         <a asp-controller="SummerCamp" asp-action="Index" class="btn btn-secondary" style="width:150px">
             Back to list
         </a>
    </div>
</form>