@model GalleryViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
               Troop 829B and 829G Photo Gallery
            </div>
        </div>
        <div class="card-body">

            <form id="frmPhototGraphy" class="form-control" asp-action="AddPhotos" asp-controller="gallery" method="post" enctype="multipart/form-data">
                <div class="col-md-6 col-sm-6">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Photo</label>

                        <div class="col-sm-6 custom-file">

                            <input asp-for="@Model.Photos.PhotoFile" type="file" class="form-control" multiple="multiple">
                            <span asp-validation-for="@Model.Photos.PhotoFile" class="text-danger"></span>

                        </div>
                        <div class="col-sm-4"> <button type="submit" class="btn btn-danger">Upload All</button></div>
                    </div>



                </div>
            </form>
            <br />
            <div class="row">
                @if (Model.PhotosList != null)
                {
                    foreach (var item in Model.PhotosList)
                    {
                        <div class="card card-img" style="height:25%">
                            <div class="card-img">
                                <img style="width:75%;height:50%" src="~/resources/@item.Name" />
                                @if (User.IsInRole("ScoutMaster") || User.IsInRole("Admin") || User.IsInRole("AsstScoutMaster"))
                                {
                                    <a href="@Url.Action("DeletePhoto","gallery",new { id=item.Id})" style="float:right">Delete</a>
                                }

                            </div>

                        </div>
                    }

                }

            </div>
        </div>
    </div>
</div>