
@{
    ViewData["Title"] = "BoyTroop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Boy Troop Page</h1>
</div>
<div class="row">
    <div class="flex-column" style="width:25%">
        <h5 class="text-bg-info text-center">
            Image 1
        </h5>
        <h5 class="text-bg-info text-center">
            Meeting Information
        </h5>
        <p>
            Every Thursday at 7:00 PM EST <br />
            at First Presbyterian Church  <br />
            in Elizabethtown KY
        </p>
    </div>
    <div class="flex-column text-center" style="width:50%">
        <h5 class="text-bg-info text-center">
            Image2
        </h5>
        <img width="100%" src="~/resources/troop 829 bt and gt.jpg" />
    </div>
    <div class="flex-column text-center" style="width:25%">
        <h5 class="text-bg-info text-center">
            Image 3
        </h5>
        <iframe src="https://calendar.google.com/calendar/embed?src=phj9go2o6rm099s9feoa81h7t66obrnq%40import.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="500" height="500" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
