<div class="text-center">
    <h1 class="display-4">Welcome to the Boy Troop Page</h1>
</div>
<div class="row">
    <div class="flex-column" style="width:25%">
        <h5 class="text-bg-info text-center">
            Image 1
        </h5>
        <h5 class="text-bg-info text-center">
            Image
        </h5>
    </div>
    <div class="flex-column text-center" style="width:50%">
        <h5 class="text-bg-info text-center">
            Image2
        </h5>
    </div>
    <div class="flex-column text-center" style="width:25%">
        <h5 class="text-bg-info text-center">
            Image 3
        </h5>
    </div>
</div>