<div class="row">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=YzJuMGpsMjFyN2hsbjdoaWJhYW9rZTBkcnRsdnM0anJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23E67C73" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>