
@{
    ViewData["Title"] = "GirlTroop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Girl Troop Page</h1>
</div>
<div class="row">
    <div class="flex-column text-center" style="width:30%">
        <img style="width:100%;height:100%" src="~/resources/girlsphotos/girls_firemaking.jpg" />
    </div>
    <div class="flex-column text-center" style="width:40%">
        <img style="width:100%;height:100%" src="~/resources/girlsphotos/girls_together.jpg" />
    </div>
    <div class="flex-column text-center" style="width:30%">
        <img style="width:100%;height:100%" src="~/resources/girlsphotos/girls_vikingrole.jpg" />
    </div>
</div>
