@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Troop 829 Elizabethtown</h1>
</div>
<div class="row">
    <div class="flex-column" style="width:25%">
        <h5 class="text-bg-danger text-center">
            Scout Law
        </h5>
        <p class="text-center">
            “A scout is:<br />
            Trustworthy <br />
            Loyal <br />
            Helpful <br />
            Friendly <br />
            Courteous<br />
            Kind <br />
            Obedient <br />
            Cheerful <br />
            Thrifty <br />
            Brave <br />
            Clean <br />
            Reverent”
        </p>
        <h5 class="text-bg-danger text-center">
            Meeting Information
        </h5>
        <p>
            Every Thursday at 7:00 PM EST <br/>
            at First Presbyterian Church  <br/>
            in Elizabethtown KY
        </p>
    </div>
    <div class="flex-column text-center" style="width:50%">
        <h5 class="text-bg-danger text-center">
            Scout Oath
        </h5>
        <p class="text-center">
            On my honor, I will do my best <br />
            To do my duty to God and my country and to obey the Scout Law; <br />
            To help other people at all times; <br />
            To keep myself physically strong, mentally awake and morally straight.
        </p>
        <img width="100%" src="~/resources/troop 829 bt and gt.jpg" />
    </div>
    <div class="flex-column text-center" style="width:25%">
        <h5 class="text-bg-danger text-center">
            Outdoor Code
        </h5>
        <p class="text-center">
            As an American, I will do my best to - <br />
            Be clean in my outdoor manners<br />
            Be careful with fire<br />
            Be considerate in the outdoors, and<br />
            Be conservation minded.
        </p>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBSA829%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=3270773256495310" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>

